apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: appdefinitions.example.suleyman.io
spec:
  group: example.suleyman.io
  scope: Namespaced
  names:
    kind: AppDefinition
    plural: appdefinitions
    singular: appdefinition
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                image:
                  type: string
                port:
                  type: integer
                  format: int32
                uid:
                  type: integer
                  format: int32

                requestsCpu:
                  type: string
                requestsMemory:
                  type: string
                limitsCpu:
                  type: string
                limitsMemory:
                  type: string
                mountPath:
                  type: string

                env:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      value:
                        type: string

            status:
              type: object
              properties:
                ready:
                  type: boolean
                message:
                  type: string
      subresources:
        status: {}
