apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: sessions.example.suleyman.io
spec:
  group: example.suleyman.io
  scope: Namespaced
  names:
    kind: Session
    plural: sessions
    singular: session
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                workspaceName:
                  type: string
                appDefinitionName:
                  type: string
                user:
                  type: string
                envVars:
                  type: object
                  additionalProperties:
                    type: string
                envVarsFromConfigMaps:
                  type: array
                  items:
                    type: string
                envVarsFromSecrets:
                  type: array
                  items:
                    type: string
            status:
              type: object
              properties:
                ready:
                  type: boolean
                url:
                  type: string
                message:
                  type: string
      subresources:
        status: {}
