# Git
.git
.gitignore

# Gradle
.gradle
build/

# IntelliJ / IDEs
.idea
*.iml
*.ipr
*.iws
out/

# VS Code
.vscode

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
Dockerfile
docker-compose.yml

# Test reports
**/test-results/
**/reports/

# Kubernetes artifacts (keep YAML outside image)
*.yaml
*.yml
