# (From henkan lab)
apiVersion: v1
data:
  oauth2-proxy.cfg: |
    # Provider config
    provider="keycloak-oidc"
    redirect_url="https://placeholder/oauth2/callback"
    oidc_issuer_url="https://keycloak.172.12.2.32.sslip.io/auth/realms/henkan"
    ssl_insecure_skip_verify=true
    
    # Client config
    client_id="henkan-designer"
    client_secret="tVMDb95D66ZQh2HtbzUHztwJ5VSycIU1"
    cookie_secret="OQINaROshtE9TcZkNAm5Zs2Pv3xaWytBmc5W7sPX7ws="
    cookie_secure="false"
    
    #proxy_prefix=""
    
    # Upstream config
    http_address="0.0.0.0:5000"
    upstreams="http://127.0.0.1:placeholder-port/"
    
    # Proxy Config
    user_id_claim="preferred_username"
    skip_auth_routes=["/health.*"]
    skip_provider_button="true"
    reverse_proxy="true"
    
    # email_domains=["*"]
    cookie_domains=["designer.172.12.2.32.sslip.io"]
    whitelist_domains=["designer.172.12.2.32.sslip.io:*",".google.com:*"]
    custom_templates_dir="/templates"

kind: ConfigMap
metadata:
  annotations:
    meta.helm.sh/release-name: henkan-designer
    meta.helm.sh/release-namespace: henkan-designer
  creationTimestamp: "2025-12-04T12:26:37Z"
  labels:
    app.kubernetes.io/managed-by: Helm
  name: oauth2-proxy-config
  namespace: henkan-designer
  resourceVersion: "67781432"
  uid: 3dd77ba6-59df-4728-b6e8-5dea445a43d6