apiVersion: v1
kind: Service
metadata:
  creationTimestamp: "2025-12-18T11:06:15Z"
  labels:
    app: bartu-demo-ws-d20d3875-1b30-4482-bb62-c093ce10461b
    app.kubernetes.io/component: session
    app.kubernetes.io/part-of: theia-cloud
    theia-cloud.io/app-definition: sample-app
    theia-cloud.io/session: bartu-demo-ws
    theia-cloud.io/user: bartu
  name: theia-bartu-demo-ws
  namespace: default
  ownerReferences:
    - apiVersion: example.suleyman.io/v1
      blockOwnerDeletion: true
      controller: true
      kind: Session
      name: bartu-demo-ws
      uid: d20d3875-1b30-4482-bb62-c093ce10461b
  resourceVersion: "1937652"
  uid: 7bf941b0-d31a-4762-a92a-0395dbde225b
spec:
  clusterIP: 10.109.45.214
  clusterIPs:
    - 10.109.45.214
  internalTrafficPolicy: Cluster
  ipFamilies:
    - IPv4
  ipFamilyPolicy: SingleStack
  ports:
    - name: http
      port: 3000
      protocol: TCP
      targetPort: web
  selector:
    app: bartu-demo-ws-d20d3875-1b30-4482-bb62-c093ce10461b
  sessionAffinity: None
  type: ClusterIP
status:
  loadBalancer: {}