apiVersion: v1
data:
  oauth2-proxy.cfg: |-
    # Provider config
    provider="keycloak-oidc"
    redirect_url="http://theia.localtest.me/e31e0801-d524-43ab-b4b7-5458ccf8c851/oauth2/callback"
    oidc_issuer_url="http://192.168.10.101:8080/auth/realms/henkan"
    ssl_insecure_skip_verify=true

    # Client config
    client_id="henkan-designer"
    client_secret="ozX1h8tTCm6N54zFAvyUBF2c1nduIoZe"
    cookie_secret="a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6"
    cookie_secure="false"

    # Upstream config (Theia app)
    http_address="0.0.0.0:5000"
    upstreams="http://127.0.0.1:3000/"

    # Proxy Config
    user_id_claim="preferred_username"
    skip_auth_routes=["/health.*"]
    skip_provider_button="true"
    reverse_proxy="true"

    # Dynamic Domains
    cookie_domains=["theia.localtest.me"]
    whitelist_domains=["theia.localtest.me:*"]
    custom_templates_dir="/templates"
kind: ConfigMap
metadata:
  creationTimestamp: "2026-01-12T11:35:09Z"
  labels:
    app.kubernetes.io/component: session
    app.kubernetes.io/part-of: theia-cloud
    theia-cloud.io/app-definition: henkan-designer
    theia-cloud.io/session: bartu-demo-ws
    theia-cloud.io/template-purpose: proxy
    theia-cloud.io/user: bartu
  name: session-proxy-bartu-henkan-desi-5458ccf8c851
  namespace: default
  ownerReferences:
    - apiVersion: theia.cloud/v1beta8
      blockOwnerDeletion: true
      controller: true
      kind: Session
      name: bartu-demo-ws
      uid: e31e0801-d524-43ab-b4b7-5458ccf8c851
  resourceVersion: "298768"
  uid: 380b5928-4cce-4c8b-b4f8-0b785305e097