apiVersion: v1
data:
  oauth2-proxy.cfg: |-
    # Provider config
    provider="keycloak-oidc"
    redirect_url="http://theia.localtest.me/7318eda2-98e1-4010-b382-0d32cb1da88c/oauth2/callback"
    oidc_issuer_url="http://192.168.1.76:8080/auth/realms/henkan"
    ssl_insecure_skip_verify=true

    # Client config
    client_id="henkan-designer"
    client_secret="ozX1h8tTCm6N54zFAvyUBF2c1nduIoZe"
    cookie_secret="a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6"
    cookie_secure="false"

    # Upstream config (Theia app)
    http_address="0.0.0.0:5000"
    upstreams="http://127.0.0.1:3000/"

    # Proxy Config
    user_id_claim="preferred_username"
    skip_auth_routes=["/health.*"]
    skip_provider_button="true"
    reverse_proxy="true"

    # Dynamic Domains
    cookie_domains=["theia.localtest.me"]
    whitelist_domains=["theia.localtest.me:*"]
    custom_templates_dir="/templates"
kind: ConfigMap
metadata:
  creationTimestamp: "2026-01-08T15:45:22Z"
  labels:
    app.kubernetes.io/component: session
    theia-cloud.io/session-uid: 7318eda2-98e1-4010-b382-0d32cb1da88c
    theia-cloud.io/template-purpose: proxy
  name: session-proxy-bartu-henkan-desi-0d32cb1da88c
  namespace: default
  ownerReferences:
    - apiVersion: theia.cloud/v1beta8
      blockOwnerDeletion: true
      controller: true
      kind: Session
      name: bartu-demo-ws
      uid: 7318eda2-98e1-4010-b382-0d32cb1da88c
  resourceVersion: "231517"
  uid: c56aae68-ef2f-4fca-8f42-0d2a88757ffb