apiVersion: v1
data:
  oauth2-proxy.cfg: |-
    # Provider config
    provider="keycloak-oidc"
    redirect_url="http://theia.localtest.me/b74796c6-37e6-4eda-8b33-a0317b8123a3/oauth2/callback"
    oidc_issuer_url="http://192.168.1.76:8080/auth/realms/henkan"
    ssl_insecure_skip_verify=true

    # Client config
    client_id="henkan-designer"
    client_secret="ozX1h8tTCm6N54zFAvyUBF2c1nduIoZe"
    cookie_secret="a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6"
    cookie_secure="false"

    # Upstream config (Theia app)
    http_address="0.0.0.0:5000"
    upstreams="http://127.0.0.1:3000/"

    # Proxy Config
    user_id_claim="preferred_username"
    skip_auth_routes=["/health.*"]
    skip_provider_button="true"
    reverse_proxy="true"

    # Dynamic Domains
    cookie_domains=["theia.localtest.me"]
    whitelist_domains=["theia.localtest.me:*"]
    custom_templates_dir="/templates"
kind: ConfigMap
metadata:
  creationTimestamp: "2026-01-09T09:16:55Z"
  labels:
    app.kubernetes.io/component: session
    theia-cloud.io/session-uid: b74796c6-37e6-4eda-8b33-a0317b8123a3
    theia-cloud.io/template-purpose: proxy
  name: session-proxy-bartu-henkan-desi-a0317b8123a3
  namespace: default
  ownerReferences:
    - apiVersion: theia.cloud/v1beta8
      blockOwnerDeletion: true
      controller: true
      kind: Session
      name: bartu-demo-ws
      uid: b74796c6-37e6-4eda-8b33-a0317b8123a3
  resourceVersion: "254565"
  uid: abc12f26-3eca-418b-a0e2-76cabaac93ab