apiVersion: v1
data:
  oauth2-proxy.cfg: |
    # Provider config
    provider="keycloak-oidc"
    oidc_issuer_url="http://10.51.38.31:8080/auth/realms/henkan"
    ssl_insecure_skip_verify=true

    # Placeholder for redirect URL (replaced by operator)
    redirect_url="http://theia.localtest.me:8080/d25760cb-41d1-4b3e-92db-afc9ae836101/oauth2/callback"

    # Client config
    client_id="henkan-designer"
    client_secret="ozX1h8tTCm6N54zFAvyUBF2c1nduIoZe"
    cookie_secret="a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6"
    cookie_secure=false

    # Upstream config
    http_address="0.0.0.0:5000"
    upstreams="http://127.0.0.1:3000/"

    # Proxy Config
    user_id_claim="preferred_username"
    skip_auth_routes=["/health.*","/monitor/.*"]
    skip_provider_button=true
    reverse_proxy=true

    cookie_domains=["theia.localtest.me"]
    whitelist_domains=["theia.localtest.me:*", ".theia.localtest.me:*"]

    email_domains=["*"]
    insecure_oidc_allow_unverified_email=true
    custom_templates_dir="/templates"
kind: ConfigMap
metadata:
  creationTimestamp: "2026-01-05T08:49:18Z"
  labels:
    app.kubernetes.io/component: session
    theia-cloud.io/session-uid: d25760cb-41d1-4b3e-92db-afc9ae836101
    theia-cloud.io/template-purpose: proxy
  name: session-proxy-bartu-henkan-desi-afc9ae836101
  namespace: default
  ownerReferences:
    - apiVersion: example.suleyman.io/v1
      blockOwnerDeletion: true
      controller: true
      kind: Session
      name: bartu-demo-ws
      uid: d25760cb-41d1-4b3e-92db-afc9ae836101
  resourceVersion: "162944"
  uid: 3a25b2eb-ca87-4c57-9fa9-0740635d9a35