apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: workspaces.theia.cloud
spec:
  group: theia.cloud
  names:
    kind: Workspace
    listKind: WorkspaceList
    plural: workspaces
    shortNames:
      - ws
    singular: workspace
  scope: Namespaced
  versions:
    - name: v1beta5
      schema:
        openAPIV3Schema:
          properties:
            spec:
              properties:
                appDefinition:
                  pattern: ^[a-z0-9A-Z-_]+$
                  type: string
                label:
                  type: string
                name:
                  pattern: ^[a-z0-9A-Z-_]+$
                  type: string
                options:
                  additionalProperties:
                    x-kubernetes-int-or-string: true
                  type: object
                storage:
                  type: string
                user:
                  type: string
              required:
                - name
                - user
              type: object
            status:
              properties:
                error:
                  type: string
                operatorMessage:
                  type: string
                operatorStatus:
                  type: string
                volumeAttach:
                  properties:
                    message:
                      type: string
                    status:
                      type: string
                  type: object
                volumeClaim:
                  properties:
                    message:
                      type: string
                    status:
                      type: string
                  type: object
              type: object
          required:
            - spec
          type: object
      served: true
      storage: true
      subresources:
        status: {}