apiVersion: v1
kind: ConfigMap
metadata:
  name: oauth2-velocity-template
  namespace: default
  labels:
    app.kubernetes.io/component: oauth2-template
data:
  oauth2-proxy.vm: |
    apiVersion: v1
    kind: ConfigMap
    metadata:
      name: ${configMapName}
      namespace: ${namespace} 
    data:
      oauth2-proxy.cfg: |     
        # Provider config
        provider="keycloak-oidc"
        redirect_url="${redirectUrl}"
        oidc_issuer_url="${issuerUrl}"
        ssl_insecure_skip_verify="true"
        
        # Client config
        client_id="henkan-designer"
        client_secret="YourClientSecret"
        cookie_secret="YourCookieSecret"
        cookie_secure="false"
        
        # Upstream config (Theia app)
        http_address="0.0.0.0:5000"
        upstreams="${upstreamUrl}"
        
        # Proxy Config
        user_id_claim="preferred_username"
        skip_auth_routes=["/health.*"]
        skip_provider_button="true"
        reverse_proxy="true"
        
        # Dynamic Domains
        cookie_domains=["${cookieDomain}"]
        whitelist_domains=["${cookieDomain}:*"]
        custom_templates_dir="/templates"