apiVersion: v1
kind: Service
metadata:
  name: ${serviceName}
  namespace: ${namespace}
  labels:
    app: theia
    session-name: ${sessionName}
spec:
  type: ${serviceType}
  selector:
    app: theia
    session-name: ${sessionName}
  ports:
    - name: http
      port: ${servicePort}
      targetPort: ${targetPort}
      protocol: TCP
