## FILE: templates/theia-service.yaml.vm
apiVersion: v1
kind: Service
metadata:
  name: ${serviceName}
  namespace: ${namespace}
  labels:
    app: ${appLabel}
    app.kubernetes.io/component: session
    app.kubernetes.io/part-of: theia-cloud
    theia-cloud.io/app-definition: ${appDefinitionName}
    theia-cloud.io/session: ${sessionName}
    theia-cloud.io/user: ${user}

spec:
  type: ${serviceType}
  selector:
    app: ${appLabel}
  ports:
  - name: http
    port: ${servicePort}
    protocol: TCP
    # Theia sends traffic to the oauth2-proxy "web" port
    targetPort: web