apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ${ingressName}
  namespace: ${namespace}
  labels:
    app: theia
    session-name: ${sessionName}
spec:
  rules:
    - host: ${host}
      http:
        paths:
          - path: /s/${sessionName}/
            pathType: Prefix
            backend:
              service:
                name: ${serviceName}
                port:
                  number: ${servicePort}
