## FILE: templates/theia-service.yaml.vm
apiVersion: v1
kind: Service
metadata:
  name: ${serviceName}
  namespace: ${namespace}
  labels:
    app: ${appLabel}
    session-name: ${sessionName}
spec:
  type: ${serviceType}
  selector:
    app: ${appLabel}
    session-name: ${sessionName}
  ports:
  - name: http
    port: ${servicePort}
    protocol: TCP
    # Theia sends traffic to the oauth2-proxy "web" port
    targetPort: web
#if( $monitorPort )
  - name: metrics
    port: ${monitorPort}
    protocol: TCP
    targetPort: ${monitorPort}
#end
