apiVersion: v1
kind: Service
metadata:
  creationTimestamp: "2025-12-17T12:53:18Z"
  labels:
    app: theia
    app.kubernetes.io/component: session
    app.kubernetes.io/part-of: theia-cloud
    session-name: bartu-demo-ws
    theia-cloud.io/app-definition: sample-app
    theia-cloud.io/session: bartu-demo-ws
    theia-cloud.io/session-uuid: e69e7867-60d9-4ec7-bbb5-900d2d438e2e
    theia-cloud.io/user: bartu
  name: theia-bartu-demo-ws
  namespace: default
  ownerReferences:
    - apiVersion: example.suleyman.io/v1
      blockOwnerDeletion: true
      controller: true
      kind: Session
      name: bartu-demo-ws
      uid: e69e7867-60d9-4ec7-bbb5-900d2d438e2e
  resourceVersion: "1875739"
  uid: a9a55d25-3dc4-4c16-b58b-9984eb7113bf
spec:
  clusterIP: 10.104.240.32
  clusterIPs:
    - 10.104.240.32
  internalTrafficPolicy: Cluster
  ipFamilies:
    - IPv4
  ipFamilyPolicy: SingleStack
  ports:
    - name: http
      port: 3000
      protocol: TCP
      targetPort: web
  selector:
    app: theia
    session-name: bartu-demo-ws
  sessionAffinity: None
  type: ClusterIP
status:
  loadBalancer: {}