apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
  creationTimestamp: "2025-12-17T12:53:18Z"
  generation: 1
  labels:
    app: theia
    app.kubernetes.io/component: session
    app.kubernetes.io/part-of: theia-cloud
    session-name: bartu-demo-ws
    theia-cloud.io/app-definition: sample-app
    theia-cloud.io/session: bartu-demo-ws
    theia-cloud.io/session-uid: e69e7867-60d9-4ec7-bbb5-900d2d438e2e
    theia-cloud.io/session-uuid: e69e7867-60d9-4ec7-bbb5-900d2d438e2e
    theia-cloud.io/user: bartu
  name: theia-bartu-demo-ws
  namespace: default
  ownerReferences:
    - apiVersion: example.suleyman.io/v1
      blockOwnerDeletion: true
      controller: true
      kind: Session
      name: bartu-demo-ws
      uid: e69e7867-60d9-4ec7-bbb5-900d2d438e2e
  resourceVersion: "1875761"
  uid: c66a9239-480c-453a-993e-bec7812ae13c
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: theia
      session-name: bartu-demo-ws
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      annotations:
        kubernetes.io/egress-bandwidth: 30000k
        kubernetes.io/ingress-bandwidth: 30000k
      creationTimestamp: null
      labels:
        app: theia
        app.kubernetes.io/component: session
        app.kubernetes.io/part-of: theia-cloud
        session-name: bartu-demo-ws
        theia-cloud.io/app-definition: sample-app
        theia-cloud.io/session: bartu-demo-ws
        theia-cloud.io/session-uid: e69e7867-60d9-4ec7-bbb5-900d2d438e2e
        theia-cloud.io/session-uuid: e69e7867-60d9-4ec7-bbb5-900d2d438e2e
        theia-cloud.io/user: bartu
    spec:
      automountServiceAccountToken: false
      containers:
        - args:
            - --config=/etc/oauth2-proxy.cfg
            - --authenticated-emails-file=/emails/authenticated-emails-list
            - --gcp-healthchecks
            - --reverse-proxy
            - --skip-auth-route=/monitor/*
          image: quay.io/oauth2-proxy/oauth2-proxy:v7.6.0
          imagePullPolicy: IfNotPresent
          name: oauth2-proxy
          ports:
            - containerPort: 5000
              name: web
              protocol: TCP
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
            - mountPath: /etc/oauth2-proxy.cfg
              name: oauth2-proxy-config
              subPath: oauth2-proxy.cfg
            - mountPath: /templates
              name: oauth2-templates
            - mountPath: /emails
              name: oauth2-emails
        - env:
            - name: THEIACLOUD_APP_ID
              value: sample-app
            - name: THEIACLOUD_SERVICE_URL
              value: http://theia-bartu-demo-ws:3000
            - name: THEIACLOUD_SESSION_UID
              value: e69e7867-60d9-4ec7-bbb5-900d2d438e2e
            - name: THEIACLOUD_SESSION_NAME
              value: bartu-demo-ws
            - name: THEIACLOUD_SESSION_USER
              value: bartu
            - name: THEIACLOUD_SESSION_URL
              value: http://theia.localtest.me/e69e7867-60d9-4ec7-bbb5-900d2d438e2e/
            - name: THEIACLOUD_SESSION_SECRET
              value: henkansecret
            - name: COMMIT_GENAI_ENDPOINT
              value: https://example.com/webhook/xyz
            - name: EMAIL
              value: bartu@globalmaksimum.com
            - name: GIT_AUTHOR_NAME
              value: bartu
            - name: GIT_SSL_NO_VERIFY
              value: "true"
            - name: HENKAN_GIT_EMAIL
              value: bartu@globalmaksimum.com
            - name: HENKAN_GIT_USER
              value: bartu
            - name: HENKAN_META_API_URL
              value: http://henkan-metaapi.henkan-metaapi
            - name: HENKAN_PROJECT_GIT_URL
              value: https://github.com/GlobalMaksimum/henkan-etl-flow-project.git
            - name: HENKAN_PROJECT_NAME
              value: busra
          image: ghcr.io/eclipse-theia/theia-blueprint/theia-ide:latest
          imagePullPolicy: IfNotPresent
          name: theia
          ports:
            - containerPort: 3000
              name: application
              protocol: TCP
          resources:
            limits:
              cpu: "2"
              memory: 1200Mi
            requests:
              cpu: 100m
              memory: 1000Mi
          securityContext:
            runAsGroup: 101
            runAsUser: 101
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
            - mountPath: /home/henkan/project
              name: workspace
      dnsPolicy: ClusterFirst
      imagePullSecrets:
        - name: regcred
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext:
        fsGroup: 101
      terminationGracePeriodSeconds: 30
      volumes:
        - name: workspace
          persistentVolumeClaim:
            claimName: bartu-demo-ws
        - configMap:
            defaultMode: 420
            name: theia-oauth2-proxy-config
          name: oauth2-proxy-config
        - configMap:
            defaultMode: 420
            name: oauth2-templates
          name: oauth2-templates
        - configMap:
            defaultMode: 420
            name: theia-oauth2-emails
          name: oauth2-emails
status:
  availableReplicas: 1
  conditions:
    - lastTransitionTime: "2025-12-17T12:53:21Z"
      lastUpdateTime: "2025-12-17T12:53:21Z"
      message: Deployment has minimum availability.
      reason: MinimumReplicasAvailable
      status: "True"
      type: Available
    - lastTransitionTime: "2025-12-17T12:53:18Z"
      lastUpdateTime: "2025-12-17T12:53:21Z"
      message: ReplicaSet "theia-bartu-demo-ws-568496d5fd" has successfully progressed.
      reason: NewReplicaSetAvailable
      status: "True"
      type: Progressing
  observedGeneration: 1
  readyReplicas: 1
  replicas: 1
  updatedReplicas: 1