apiVersion: v1
kind: Service
metadata:
  creationTimestamp: "2025-12-09T01:48:48Z"
  labels:
    app: bartu-bartu-test-feb90431-7568-4da4-861e-8c29c58e895b
    app.kubernetes.io/component: session
    app.kubernetes.io/part-of: theia-cloud
    theia-cloud.io/app-definition: henkan-designer
    theia-cloud.io/session: bartu-bartu-test
    theia-cloud.io/user: bartu
  name: session-bartu-henkan-designer-8c29c58e895b
  namespace: henkan-designer
  ownerReferences:
    - apiVersion: theia.cloud/v1beta8
      kind: Session
      name: bartu-bartu-test
      uid: feb90431-7568-4da4-861e-8c29c58e895b
  resourceVersion: "71162956"
  uid: 2703b601-33ac-48ce-be21-1423c6eb73bf
spec:
  clusterIP: 10.43.12.122
  clusterIPs:
    - 10.43.12.122
  internalTrafficPolicy: Cluster
  ipFamilies:
    - IPv4
  ipFamilyPolicy: SingleStack
  ports:
    - name: http
      port: 3000
      protocol: TCP
      targetPort: web
  selector:
    app: bartu-bartu-test-feb90431-7568-4da4-861e-8c29c58e895b
  sessionAffinity: None
  type: ClusterIP
status:
  loadBalancer: {}