apiVersion: theia.cloud/v1beta10
kind: AppDefinition
metadata:
  name: my-theia-application
  namespace: theia-cloud
spec:
  # required
  name: my-theia-application
  image: theiacloud/theia-cloud-demo:1.0.0-next
  uid: 101
  port: 3000
  ingressHostnamePrefixes:
    - "*.webview."
  ingressname: theia-cloud-demo-ws-ingress
  minInstances: 0
  maxInstances: 1
  requestsMemory: 1000M
  requestsCpu: 100m
  limitsMemory: 1200M
  limitsCpu: "2"

  # optional but useful defaults
  imagePullPolicy: IfNotPresent
  timeout: 240          # minutes
  downlinkLimit: 30000  # kbit/s
  uplinkLimit: 30000    # kbit/s
  mountPath: /home/project/persisted
  monitor:
    port: 8081
    activityTracker:
      timeoutAfter: 30
      notifyAfter: 25