name: Create and publish a Docker image

on:
  push:
    tags:
      - v*

env:
  REGISTRY: ghcr.io
  AZURE_REGISTRY: henkan.azurecr.io
  REPOSITORY_NAME: ${{ github.event.repository.name }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
      - name: lowercase github.repository
        run: |
          echo "IMAGE_NAME=${GITHUB_REPOSITORY@L}" >> ${GITHUB_ENV}
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          lfs: true
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to the Github Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Log in to the Azure Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.AZURE_REGISTRY }}
          username: ${{ secrets.AZURE_USERNAME }}
          password: ${{ secrets.AZURE_PASSWORD }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
            ${{ env.AZURE_REGISTRY }}/${{ env.IMAGE_NAME }}
      - name: Build and push multi-arch Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64,linux/arm64
      - name: Export amd64 tar.gz
        run: |
          IMAGE_TO_PULL=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.ref_name }}
          docker pull --platform linux/amd64 $IMAGE_TO_PULL
          docker save --platform linux/amd64 $IMAGE_TO_PULL | gzip > ${{ env.REPOSITORY_NAME }}-amd64-${{ github.ref_name }}.tar.gz
      - name: Export arm64 tar.gz
        run: |
          IMAGE_TO_PULL=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.ref_name }}
          docker pull --platform linux/arm64 $IMAGE_TO_PULL
          docker save --platform linux/arm64 $IMAGE_TO_PULL | gzip > ${{ env.REPOSITORY_NAME }}-arm64-${{ github.ref_name }}.tar.gz
      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          body_path: README.md
          name: ${{ github.ref_name }}
          draft: false
          generate_release_notes: true
          files: |
            ${{ env.REPOSITORY_NAME }}-amd64-${{ github.ref_name }}.tar.gz
            ${{ env.REPOSITORY_NAME }}-arm64-${{ github.ref_name }}.tar.gz
          prerelease: false